/* General layout */
.container {
    height: 90vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-evenly;
    height: calc(90vh - 100px);
    max-height: 800px;
    background-color: var(--grey-light);
}
.descriptionContainer{
    width: 35%;
    margin: 40px;
}
.cardContainer{
    height: 85%;
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}




/* Left side: description */
.title {
    font-size: 40px;
    text-align: left;
    font-family: Roboto;
}
.description {
    width: 100%;
    font-size: 19px;
    text-align: left;
    font-family: virgil;
}



/* Right side: flashcard */
.imageContainer {
    display: flex;
    align-items: stretch;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.imageContainer>div {
    position: unset !important;
}
.image {
    object-fit: contain;
    position: relative !important;
    width: 100% !important;
    height: 100% !important;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px !important;
}



/* Arrows */
.arrowLeft {
    position: fixed;
    left: 8px;
    top: 50%;
    padding: 5px;
    border-radius: 100%;
    border: solid;
    border-width: 1px;
    opacity: .3;
    cursor: pointer;
}
.arrowLeft:hover {
    opacity: .8;
}
.arrowRight {
    position: fixed;
    right: 8px;
    top: 50%;
    padding: 5px;
    border-radius: 100%;
    border: solid;
    border-width: 1px;
    opacity: .3;
    cursor: pointer;
}
.arrowRight:hover {
    opacity: .8;
}
