.container {
    position: inline;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 40px;
    padding-right: 100px;

    display: flex;
    align-items:center;
    justify-content:flex-end;

    cursor:pointer
}

.element {
    margin-left: 10px;
}
