.container {
    display: flex;
    align-items:center;
    justify-content: space-between;
    height: 100px;
    max-width: var(--container-width);
    width: 90%;
    margin: 0 auto;
}

.title {
    font-family: Virgil;
    color: var(--green-dark);
    cursor: pointer;
}

.item {
    margin-left: 30px;
    font-family: Roboto;
    color: black;
    font-size: 1rem;
    font-weight: 100;
}
