@font-face {
  font-family: "Virgil";
  src: url("/fonts/virgil/Virgil.woff2");
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: #69b3a2;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
