@font-face {
  font-family: "Virgil";
  src: url("/fonts/virgil/fg-virgil.ttf");
}

:root {
  --pink-light: #f8deec;
  --pink-md: #F91992;

  --purple-md: #6E82EE;

  --green-md: #53C8B2;
  --green-dark: #5B9F94;

  --black-dark: #131212;
  --black-md: #2B2B2B;

  --white-light: #FFFFFF;

  --blue-md: #3F9AFF;
  --blue-dark: #3178C6;

  --grey-light: #f8f9fa;
  --grey-md: #ebeff7;
  --grey-dark: #747c87;

  --container-width: 1000px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

p {
  font-family: Oxygen
}

h1,
h3,
h4 {
  font-family: Roboto;
}

h2 {
  font-family: Roboto;
  font-size: 33px;
  font-weight: 200;
}

a {
  color: #69b3a2;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}
