
/*
---
Section one: landing section
---
 */
.landingSection {
  padding: 0 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: calc(90vh - 100px);
  background-color: var(--grey-light);
  position: relative;
}
.titleContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px;
  min-width: 650px;
  max-width: 800px;
}
.title {
  margin: 0;
  line-height: 1.15;
  font-size: 3rem;
  max-width: 800px;
  color: black;
  font-family: Roboto;
}
.flashcardOverview {
  max-width: 600px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.buttonNarrow {
  margin-top: 30px;
  display: none;
}
@media screen and (max-width: 992px) {
  .landingSection {
    flex-direction: column
  }
  .titleContainer {
    text-align: center;
    min-width: 300px;
  }
  .buttonWide {
    display: none;
  }
  .buttonNarrow {
    display: block;
  }
}
.signature {
  position: absolute;
  bottom: 0px;
  right: 20px;
  font-family: Virgil;
}


/*
---
Section 2: languages
---
 */
.languageSection {
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cardsContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.cards {
  padding: 20px;
  max-width: 300px;
  min-width: 150px;
  text-align: left;
}



/*
---
Section 3: All Cards
---
 */
 .allCardsSection {
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--grey-light);
}
.flashcardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.flashcard {
  margin: 20px;
  width: 200px;
}
.number {
  font-size: 33px;
  color: var(--pink-md);
  font-weight: 900;
}




.virgil {
  font-family: Virgil;
}

.description {
  max-width: 800px;
  font-family: Virgil;
  color: grey;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.logo {
  padding: 2px !important;
  border-radius: 4px !important;
}

.annotationTopLeft {
  font-family: Virgil;
  color: rgb(218, 141, 141);
  transform: rotate(-32deg);
  position: absolute;
  top: 10%;
  left: 8%;
  max-width: 200px;
  text-align: center;
  font-size: 22px;
}

.skateboard {
  position: absolute;
  bottom: 10%;
  left: 8%;
}

.optionsContainer {
  display: flex;
  align-items: center;
}
