.landingSection {
  padding: 0 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background-color: #f8f9fa;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  padding: 20px;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  max-width: 800px;
  color: black;
  font-family: Roboto;
}

.flashcardOverview {
  max-width: 500px;
}

.firstSection {
  height: 1000px;
}

.virgil {
  font-family: virgil;
}

.description {
  max-width: 800px;
  font-family: virgil;
  color: grey;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.logo {
  padding: 2px !important;
  border-radius: 4px !important;
}

.annotationTopLeft {
  font-family: virgil;
  color: rgb(218, 141, 141);
  transform: rotate(-32deg);
  position: absolute;
  top: 10%;
  left: 8%;
  max-width: 200px;
  text-align: center;
  font-size: 22px;
}

.skateboard {
  position: absolute;
  bottom: 10%;
  left: 8%;
}

.optionsContainer {
  display: flex;
  align-items: center;
}

.button {
  margin: 10px;
}

.button {
  border-radius: 8px;
  padding: 10px;
  background-color: #69b3a2;
  border: none;
  cursor: pointer;
  opacity: .8;
}

.button:hover {
  opacity: 1;
}
